body {
}

.card {
    margin-top: 10%;
}

#btn-floating-card {
    position: absolute;
    right: 24px;
    bottom: -28px;
}

#card-stats .card-stats-number {
    font-size: 1.8rem;
    line-height: 2.0rem;
    margin: 0.2rem 0 0.2rem 0;
    font-weight: 500;
}

#card-stats .card-content {
    text-align: center;
}