
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

#formulario {
    padding-top: 5%;
}

.texto-detalhes {
    font-size: 14px;
    color: #060606;
}

#linha-detalhes {
    margin-bottom: 0px !important;
}

#input-data {
    margin-top: -7px;
}